.full-screen {
	height: 100vh;
	width: 185vw;
}


#course {
	position: fixed;
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 185vw;
	left: -85vw;
	flex: 0;
}

.main-menu-half {
	/* box-shadow: 0px 0px 25px #222; */
}

.menu {
	position: fixed;
	left: -85vw;
	width: 85vw;

	height: 100vh;
	background-color: white;
	/* color: white; */
	overflow-y: scroll;
}

.main-content {
	position: fixed;
	width: 100vw;
	height: 100%;
	transition: all 5s;
	left: 0;
}

.column-container {
	display: flex;
	flex-direction: column;
}

.row-container {
	display: flex;
	flex-direction: row;
}

.top-bar {
	width: 100%;
	height: 56px;
	background-color: white;
}

.search-bar {
	transition: all 500ms;
	height: 56px;
	width: 85%;
	margin-left: 15%;

}

.search-bar-selected {
	width: 100%;
	margin-left: 0%;
}

.department-select {
	position: fixed;
	font-size: 20px;
	width: 15vw;
	height: 56px;
	align-items: center;
	justify-content: center;
	color: #555;
}

.suggest-list {
	background-color: white;
	height: calc(100% - 56px) !important;
	width: 100%;
}

.icon {
	font-size: 30px;
	color: #1684FC;
	transition: all 3s ease;
}

.course-list {
	background-color: #F5F5F5;
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: calc(100vh - 126px);
	flex: 0;
}

.filter-box {
	height: 50px;
	width: 100%;
	align-items: center;
	background-color: white;
	border: #F5F5F5 0.5px solid;
}

.filter {
	min-width: 50px;
	padding: 0 10px 0 10px;
	font-size: 12px;
	height: 30px;
	border-radius: 20px;
	text-align: center;
	margin-left: 10px;
	background-color: #F5F5F5;
	justify-content: space-around;
	align-items: center;
}

.filter-text {
	margin-left: 20px;
	font-size: 15px;
}

.overlay{
	position: fixed;
	width: 100vw;
	left:0;
	height: calc(100vh - 56px);
	top:56px;
	background-color: rgba(0,0,0,0.8);
	z-index: 20;
}
.filter-selected {
	background-color: #c9d4fc;
}

.department {
	display: block;
	margin-top: 5px;
	height: 40px;
	margin-bottom: 5px;
	width: calc(100% - 20px);
	font-size: 18px;
	font-weight: 700;
	background-color: #F5F5F5;
	margin: 10px 10px 10px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	line-height: 40px;
}

.box {
	margin-bottom: 10px;
}

.course-list-box {
	overflow-y: auto;
	height: calc(100vh - 156px);
	background-color: #F5F5F5;
}

.filter-button {
	position: fixed;
	height: 50px;
	line-height: 50px;
	right: 5%;
	font-size: 12px;
	color: #1684FC;
}

.suggest-box{
	width: 100vw;
	height: 30px;
	border-top:1px #F5F5F5 solid;
	box-sizing: border-box;
	align-items: center;
	flex-shrink: 0;
}

.suggest-box-course-num{
	display: flex;
	font-size: 14px;
	margin-left: 10px;
	line-height: 30px;
	width:auto;
	height: 30px;
	flex-shrink: 0;
}

.suggest-box-course-name{
	font-size:12px;
	height: 30px;
	color:#ccc;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 10px;
	line-height: 30px;
}
